<div class="container mx-auto my-auto">

    <div class="card mt-4">
        <div class="card-body">
          <div class="row ">
            <div class="col-md-3"><label>Search Parent By Name:</label></div>
            <div class="col-md-5"><div class="input-group">
                <input  [(ngModel)]=search1 type="text" class="form-control" placeholder="Search for..." aria-label="Input group example" aria-describedby="basic-addon1" id="Prntsearchbox1"><button id="Prntsearchbtn1" (click)="getTD()" class="btn"><span class="input-group-text" id="searchicon1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="white" class="bi bi-search" viewBox="0 0 16 16">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
    </svg>
                  </span></button> 
              </div>     
            </div>
            <div class="col-md-3"><p class="text-danger" [class.d-none]="NotFound1" id="Prntvalidmsg1">{{search1ErrMsg}}</p></div>
        </div>

        <div class="row mt-4">
            <div class="col-md-3"><label>Search Parent by Student Name:</label></div>
            <div class="col-md-5"><div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." aria-label="Input group example" aria-describedby="basic-addon1" id="Prntsearchbox2"><button id="Prntsearchbtn2" class="btn"><span class="input-group-text" id="searchicon2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="white" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                  </svg>
                  </span></button> 
              </div> 
            </div>
    <div class="col-md-3"><p id="Prntvalidmsg2"></p></div>
        </div>

          <div class="row table-responsive mx-auto my-auto mt-3 px-5">
               <table data-toggle="table" class="table table-hover table-bordered"  id="parent-data">
                  <thead>
                    <tr>
                       <th (click)="sortname('fname')" (click)="changeicon1()" scope="col">Parent Name <i   
                        [ngClass]="status1 ? 'fas fa-sort-alpha-down' : 'fas fa-sort-alpha-up'" class="fas fa-sort-alpha-down"></i></th>
                        <th (click)="sortaddress('address')" (click)="changeicon2()" scope="col">Address <i   
                          [ngClass]="status2 ? 'fas fa-sort-alpha-down' : 'fas fa-sort-alpha-up'" class="fas fa-sort-alpha-down"></i></th>
                          <th  (click)="sortnumber('phone1')" (click)="changeicon3()" scope="col">Phone Number <i   
                            [ngClass]="status3 ? 'fas fa-sort-alpha-down' : 'fas fa-sort-alpha-up'" class="fas fa-sort-alpha-down"></i></th> 
                            

                          
                    
                    
                    
                          </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let TDP of TD | orderBy: key: reverse | orderBy: key2: reverse2 | orderBy: key3: reverse3 ">
                      <td>{{TDP.fname+" "+TDP.mname+" "+TDP.lname}}</td>
                      <td>{{TDP.address}}</td>
                      <td>{{TDP.phone1}}</td>
                    </tr>
                    
                    
                  </tbody>
                </table> 







          </div>


          </div>
      </div>



      <hr />

    <div class="card mt-3">
      <div class="card-body">
         <form #parentForm="ngForm" class="adminform" name="adminformm" (ngSubmit)="onSubmit(parentForm)"> <!--The Directive gives us the values of the form control and the reference variable gives us the reference of the directive-->
          
            <!-- {{parentForm.value| json}}
            <hr/>
            {{parentModel|json}} -->
          
         <div class="row">
              <div class="col-md-3"><label class="form-label" for="Firstname">First Name</label></div>
              <div class="col-md-5"><input #fname="ngModel" [class.is-invalid]="fname.invalid && fname.touched" class="form-control form-control-md" type="text" name="Firstname" placeholder="First Name" id="Fname" required [(ngModel)]=parentModel.fname /></div>
              <div class="col-md-3"><small class="text-danger" [class.d-none]="fname.valid || fname.untouched">First Name is Required!</small></div>
            </div>

          <div class="row mt-4">
              <div class="col-md-3"><label class="form-label" for="Middlename">Middle Name</label></div>
              <div class="col-md-5"><input #mname="ngModel" [class.is-invalid]="mname.invalid && mname.touched" class="form-control form-control-md" type="text" name="Middlename" placeholder="Middle Name" id="Mname" required [(ngModel)]=parentModel.mname /></div>
              <div class="col-md-3"><small class="text-danger" [class.d-none]="mname.valid || mname.untouched">Middle Name is Required!</small></div>
            </div>

          <div class="row mt-4">
              <div class="col-md-3"><label class="form-label" for="Lastname">Last Name</label></div>
              <div class="col-md-5"><input #lname="ngModel" [class.is-invalid]="lname.invalid && lname.touched" class="form-control form-control-md" type="text" name="Lastname" placeholder="Last Name" id="Lname" required [(ngModel)]=parentModel.lname /></div>
              <div class="col-md-3"><small class="text-danger" [class.d-none]="lname.valid || lname.untouched">Last Name is Required!</small></div>
            </div>

          

          <div class="row mt-4">
              <div class="col-md-3"><label class="form-label" for="Streetname">Street Name</label></div>
              <div class="col-md-5"><input #streetname="ngModel" [class.is-invalid]="streetname.invalid && streetname.touched" class="form-control form-control-md" type="text" name="streetname" placeholder="Street Name" id="streetname" required [(ngModel)]=parentModel.street_name /></div>
              <div class="col-md-3"><small class="text-danger" [class.d-none]="streetname.valid || streetname.untouched">Street Name is Required!</small></div>
            </div>

            <div class="row mt-4">
              <div class="col-md-3"><label class="form-label" for="Apartment">Apartment</label></div>
              <div class="col-md-5"><input #app="ngModel" [class.is-invalid]="app.invalid && app.touched" class="form-control form-control-md" type="text" name="Apartment" placeholder="Apartment" id="streetname" required [(ngModel)]=parentModel.apartment /></div>
              <div class="col-md-3"><small class="text-danger" [class.d-none]="app.valid || app.untouched">Apartment is Required!</small></div>
            </div>

          <div class="row mt-4">
              <div class="col-md-3"><label class="form-label" for="City">City</label></div>
              <div class="col-md-5"><input #city="ngModel" [class.is-invalid]="city.invalid && city.touched" class="form-control form-control-md" type="text" name="City" placeholder="City" id="City" required [(ngModel)]=parentModel.city /></div>
              <div class="col-md-3"><small class="text-danger" [class.d-none]="city.valid || city.untouched">City is Required!</small></div>
            </div>

          <div class="row mt-4">
              <div class="col-md-3"><label class="form-label" for="State">State</label></div>
              <div class="col-md-5"><select (blur)="validateState(statess.value)" (change)="validateState(statess.value)"  #statess="ngModel" [class.is-invalid]="stateHasError && statess.touched" class="form-select" style="font-size:13px;" name="State" id="State" [(ngModel)]=parentModel.state>
                <option  selected value="State">State</option>      
                <option *ngFor="let state of states">{{ state }}</option>
                
                  </select>				
                      </div>
                 <div class="col-md-3"><small class="text-danger" [class.d-none]="!stateHasError || statess.untouched">Please choose a state</small></div>     
            </div>

          <div class="row mt-4">
              <div class="col-md-3"><label class="form-label" for="Zip">Zip</label></div>
              <div class="col-md-5"><input #zip="ngModel" [class.is-invalid]="zip.invalid && zip.touched" class="form-control form-control-md" type="text" name="Zip" placeholder="Zip" id="Zip" required [(ngModel)]=parentModel.zip /></div>
              <div class="col-md-3"><small class="text-danger" [class.d-none]="zip.valid || zip.untouched">Zip is Required!</small></div>
            </div>
        

          <div class="row mt-4 ">
              <div class="col-md-3"><label class="form-label" for="Phone1">Phone</label></div>
              <div class="col-md-4"><input #pn1="ngModel" (blur)="validatePN1(pn1.value)" (change)="validatePN1(pn1.value)" [class.is-invalid]="pn1.invalid && pn1.touched && PN1HasError" class="form-control form-control-md" type="text" minlength="10" pattern="^[\+\d]?(?:[\d-.\s()]*)$" name="Phone1" placeholder="Phone" id="Phone1" required [(ngModel)]=parentModel.phone1 /></div>
              <div class="col-md-3"><select required  class="form-select" [class.is-invalid]="phone1type.invalid && phone1type.touched" style="font-size:13px;" #phone1type="ngModel" name="phonetype1" [(ngModel)]=parentModel.phone1type>
                <option selected value="1">Home</option>
                <option  value="2">Cell</option>
                </select></div>
                <div class="col-md-2"><small class="text-danger" [class.d-none]="phone1type.valid || phone1type.untouched">Please choose a type!</small></div>
                <div class="col-md-3"><small class="text-danger" [class.d-none]="pn1.valid || pn1.untouched ||!PN1HasError">Phone No# {{PN1ErrorMsg}}</small></div>
          </div>

          <div class="row mt-4">
              <div class="col-md-3"><label class="form-label" for="Phone2">Phone</label></div>
              <div class="col-md-4"><input #pn2="ngModel" (blur)="validatePN2(pn2.value)" (change)="validatePN2(pn2.value)"  [class.is-invalid]="pn2.invalid && pn2.touched  && PN2HasError" class="form-control form-control-md" type="text" minlength="10" pattern="^[\+\d]?(?:[\d-.\s()]*)$" name="Phone2" placeholder="Phone" id="Phone2" required [(ngModel)]=parentModel.phone2 /></div>
              <div class="col-md-3"><select required class="form-select" [class.is-invalid]="phone2type.invalid && phone2type.touched" style="font-size:13px;" #phone2type="ngModel" name="phonetype2" [(ngModel)]=parentModel.phone2type>    
                <option selected value="1">Home</option>
                <option  value="2">Cell</option>
                </select></div>
                <div class="col-md-2"><small class="text-danger" [class.d-none]="phone2type.valid || phone2type.untouched">Please choose a type!</small></div>
                <div class="col-md-3"><small class="text-danger" [class.d-none]="pn2.valid || pn2.untouched ||!PN2HasError">Phone No# {{PN1ErrorMsg}}</small></div>
          </div>

          <div class="row mt-4">
              <div class="col-md-3"><label class="form-label" for="Email">Email</label></div>
              <div class="col-md-5"><input #email="ngModel" class="form-control form-control-md" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [class.is-invalid]="email.invalid && email.touched || !NotFound1" name="Email" placeholder="Email" id="Email" required [(ngModel)]=parentModel.email /></div>
              <div class="col-md-3"><small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is Required!</small><div class="text-danger">{{emailErrorMsg}}</div> 
          </div>
          </div>

          <div class="row mt-4">
              <div class="col-md-3"><label class="form-label" for="SMS">SMS Option</label></div>
              <div class="col-md-5"><select required #sms="ngModel" class="form-select" style="font-size:13px;" name="SMS" id="SMS" [(ngModel)]=parentModel.sms>
                  <option selected value=true>Yes</option>
                  <option value=false>No</option>
                </select></div>
                <div class="col-md-2"><small class="text-danger" [class.d-none]="sms.valid || sms.untouched">Please an option!</small></div>
          </div>

          <footer>
             <button  (click)="onReset(parentForm)" class="btn btn-success">Create New Parent</button>
             <button [disabled]="parentForm.form.invalid || stateHasError" type="submit" class="btn btn-primary">Save Parent</button>
          </footer>

          


   </form>
      </div>
    </div>
  </div>
