<div class="container mx-auto my-auto">

    <div class="card mt-4">
        <div class="card-body">
          <div class="row ">
            <div class="col-md-3"><label>Search Student By Name:</label></div>
            <div class="col-md-5"><div class="input-group">
                <input [(ngModel)]=search1 type="text" class="form-control" placeholder="Search for..." aria-label="Input group example" aria-describedby="basic-addon1" id="Stdntsearchbox1"><button id="Stdntsearchbtn1" (click)="getTD()" class="btn"><span class="input-group-text" id="searchicon1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="white" class="bi bi-search" viewBox="0 0 16 16">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
    </svg>
                  </span></button> 
              </div>     
            </div>
            <div class="col-md-3"><p class="text-danger" [class.d-none]="NotFound1" id="Prntvalidmsg1">{{search1ErrMsg}}</p></div>
        </div>

        <div class="row mt-4">
          <div class="col-md-3"><label>Search Parent by Student Name:</label></div>
          <div class="col-md-5"><div class="input-group">
              <input type="text" class="form-control" placeholder="Search for..." aria-label="Input group example" aria-describedby="basic-addon1" id="Prntsearchbox2"><button id="Stdntsearchbtn1" (click)="getTD()" class="btn"><span class="input-group-text" id="searchicon1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="white" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
</svg>
              </span></button> 
            </div> 
          </div>
  <div class="col-md-3"><p id="Prntvalidmsg2"></p></div>
      </div>

          <div class="row table-responsive mx-auto my-auto mt-3 px-5">
              <table data-toggle="table" class="table table-hover table-bordered sortable" id="student-data">
                  <thead>
                    <tr>
                      <th (click)="changeicon1()" scope="col">Student ID <i   
                        [ngClass]="status1 ? 'fas fa-sort-alpha-down' : 'fas fa-sort-alpha-up'" class="fas fa-sort-alpha-down"></i></th>
                        <th (click)="changeicon2()" scope="col">Student Name <i   
                          [ngClass]="status2 ? 'fas fa-sort-alpha-down' : 'fas fa-sort-alpha-up'" class="fas fa-sort-alpha-down"></i></th>
                          <th (click)="changeicon3()" scope="col">Date of Birth <i   
                            [ngClass]="status3 ? 'fas fa-sort-alpha-down' : 'fas fa-sort-alpha-up'" class="fas fa-sort-alpha-down"></i></th>
                          <th (click)="changeicon4()" scope="col">Parent Name <i   
                                [ngClass]="status4 ? 'fas fa-sort-alpha-down' : 'fas fa-sort-alpha-up'" class="fas fa-sort-alpha-down"></i></th>
                            <th (click)="changeicon5()" scope="col">Address <i   
                                    [ngClass]="status5 ? 'fas fa-sort-alpha-down' : 'fas fa-sort-alpha-up'" class="fas fa-sort-alpha-down"></i></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let TDS of TD">
                      <td>{{TDS.id}}</td>
                      <td>{{TDS.fname}}+" "+{{TDS.mname}}+" "+{{TDS.lname}}</td>
                      <td>{{TDS.DateofBirth}}</td>
                      <td>{{TDS.parentname}}</td>
                      <td>{{TDS.address}}</td>

                    </tr>
                    
                  </tbody>
                </table>
          </div>


          </div>
      </div>



      <hr />

    <form #studentForm="ngForm" class="studentForm" name="studentForm" (ngSubmit)="onSubmit(studentForm)"> <!--The Directive gives us the values of the form control and the reference variable gives us the reference of the directive-->

    <div class="card mt-3">
      <div class="card-body">
        
          
            <!-- {{studentForm.value| json}}
            <hr/>
            {{studentModel|json}} -->
          
         <div class="row">
              <div class="col-md-3"><label class="form-label" for="Firstname">First Name</label></div>
              <div class="col-md-5"><input #fname="ngModel" [class.is-invalid]="fname.invalid && fname.touched" class="form-control form-control-md" type="text" name="Firstname" placeholder="First Name" id="Fname" required [(ngModel)]=studentModel.fname /></div>
              <div class="col-md-3"><small class="text-danger" [class.d-none]="fname.valid || fname.untouched">First Name is Required!</small></div>
            </div>

          <div class="row mt-4">
              <div class="col-md-3"><label class="form-label" for="Middlename">Middle Name</label></div>
              <div class="col-md-5"><input #mname="ngModel" [class.is-invalid]="mname.invalid && mname.touched" class="form-control form-control-md" type="text" name="Middlename" placeholder="Middle Name" id="Mname" required [(ngModel)]=studentModel.mname /></div>
              <div class="col-md-3"><small class="text-danger" [class.d-none]="mname.valid || mname.untouched">Middle Name is Required!</small></div>
            </div>

          <div class="row mt-4">
              <div class="col-md-3"><label class="form-label" for="Lastname">Last Name</label></div>
              <div class="col-md-5"><input #lname="ngModel" [class.is-invalid]="lname.invalid && lname.touched" class="form-control form-control-md" type="text" name="Lastname" placeholder="Last Name" id="Lname" required [(ngModel)]=studentModel.lname /></div>
              <div class="col-md-3"><small class="text-danger" [class.d-none]="lname.valid || lname.untouched">Last Name is Required!</small></div>
            </div>

            <div class="row mt-4">
              <div class="col-md-3"><label class="form-label" for="DOB">Date Of Birth</label></div>
              <div class="col-md-5"><input (input)="checkdate()" #dateofBirth="ngModel" class="form-control form-control-md" [class.is-invalid]="dateofBirth.invalid && dateofBirth.touched && isDatenull" type="date" data-date-format="mm-dd-yyyy" name="DOB" required [(ngModel)]=studentModel.DateofBirth/></div>
              <div class="col-md-3"><small class="text-danger" [class.d-none]="dateofBirth.valid || dateofBirth.untouched || !isDatenull">DOB is required is Required!</small></div>
          </div>
  
          <div class="row mt-4">
              <div class="col-md-3"><label class="form-label" for="Address">Address</label></div>
              <div class="col-md-5"><input #address="ngModel" [class.is-invalid]="address.invalid && address.touched" class="form-control form-control-md" type="text" name="Address" placeholder="Address" id="Address" required [(ngModel)]=studentModel.address /></div>
              <div class="col-md-3"><small class="text-danger" [class.d-none]="address.valid || address.untouched">Address is Required!</small></div>
            </div>

          <div class="row mt-4">
              <div class="col-md-3"><label class="form-label" for="City">City</label></div>
              <div class="col-md-5"><input #city="ngModel" [class.is-invalid]="city.invalid && city.touched" class="form-control form-control-md" type="text" name="City" placeholder="City" id="City" required [(ngModel)]=studentModel.city /></div>
              <div class="col-md-3"><small class="text-danger" [class.d-none]="city.valid || city.untouched">City is Required!</small></div>
            </div>

          <div class="row mt-4">
              <div class="col-md-3"><label class="form-label" for="State">State</label></div>
              <div class="col-md-5"><select (blur)="validateState(statess.value)" (change)="validateState(statess.value)"  #statess="ngModel" [class.is-invalid]="stateHasError && statess.touched" class="form-select" style="font-size:13px;" name="State" id="State" [(ngModel)]=studentModel.state>
                <option  selected value="State">State</option>      
                <option *ngFor="let state of states">{{ state }}</option>
                
                  </select>				
                      </div>
                 <div class="col-md-3"><small class="text-danger" [class.d-none]="!stateHasError || statess.untouched">Please choose a state</small></div>     
            </div>

          <div class="row mt-4">
              <div class="col-md-3"><label class="form-label" for="Zip">Zip</label></div>
              <div class="col-md-5"><input #zip="ngModel" [class.is-invalid]="zip.invalid && zip.touched" class="form-control form-control-md" type="text" name="Zip" placeholder="Zip" id="Zip" required [(ngModel)]=studentModel.zip /></div>
              <div class="col-md-3"><small class="text-danger" [class.d-none]="zip.valid || zip.untouched">Zip is Required!</small></div>
            </div>

            <div class="row mt-4">
              <div class="col-md-3"><label class="form-label" for="Email">Email</label></div>
              <div class="col-md-5"><input #email="ngModel" class="form-control form-control-md" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [class.is-invalid]="email.invalid && email.touched || !NotFound1" name="Email" placeholder="Email" id="Email" required [(ngModel)]=studentModel.email /></div>
              <div class="col-md-3"><small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is Required!</small><div class="text-danger">{{emailErrorMsg}}</div> 
          </div>
          </div>
        

          <div class="row mt-4 ">
            <div class="col-md-3"><label class="form-label" for="Phone1">Phone</label></div>
            <div class="col-md-4"><input #pn1="ngModel" (blur)="validatePN1(pn1.value)" (change)="validatePN1(pn1.value)" [class.is-invalid]="pn1.invalid && pn1.touched && PN1HasError" class="form-control form-control-md" type="text" minlength="10" pattern="^[\+\d]?(?:[\d-.\s()]*)$" name="Phone1" placeholder="Phone" id="Phone1" required [(ngModel)]=studentModel.phone1 /></div>
            <div class="col-md-3"><select required  class="form-select" [class.is-invalid]="phone1type.invalid && phone1type.touched" style="font-size:13px;" #phone1type="ngModel" name="phonetype1" [(ngModel)]=studentModel.phone1type>
              <option selected value="Home">Home</option>
              <option  value="Cell">Cell</option>
              </select></div>
              <div class="col-md-2"><small class="text-danger" [class.d-none]="phone1type.valid || phone1type.untouched">Please choose a type!</small></div>
              <div class="col-md-3"><small class="text-danger" [class.d-none]="pn1.valid || pn1.untouched ||!PN1HasError">Phone No# {{PN1ErrorMsg}}</small></div>
        </div>

          <div class="row mt-4">
            <div class="col-md-3"><label class="form-label" for="Phone2">Phone</label></div>
            <div class="col-md-4"><input #pn2="ngModel" (blur)="validatePN2(pn2.value)" (change)="validatePN2(pn2.value)"  [class.is-invalid]="pn2.invalid && pn2.touched  && PN2HasError" class="form-control form-control-md" type="text" minlength="10" pattern="^[\+\d]?(?:[\d-.\s()]*)$" name="Phone2" placeholder="Phone" id="Phone2" required [(ngModel)]=studentModel.phone2 /></div>
            <div class="col-md-3"><select required class="form-select" [class.is-invalid]="phone2type.invalid && phone2type.touched" style="font-size:13px;" #phone2type="ngModel" name="phonetype2" [(ngModel)]=studentModel.phone2type>    
              <option selected value="Home">Home</option>
              <option  value="Cell">Cell</option>
              </select></div>
              <div class="col-md-2"><small class="text-danger" [class.d-none]="phone2type.valid || phone2type.untouched">Please choose a type!</small></div>
              <div class="col-md-3"><small class="text-danger" [class.d-none]="pn2.valid || pn2.untouched ||!PN2HasError">Phone No# {{PN1ErrorMsg}}</small></div>
        </div>

          <div class="row mt-4">

            <div class="col-md-3"><label class="form-label" for="specialNote">Special Note</label></div>
            <div class="col-md-5"><textarea class="form-control" id="specialNote" name="specialNote" rows="3" placeholder="Special Note"  #SpecialNote="ngModel" [(ngModel)]=studentModel.specialNote></textarea></div>
             
          </div>

        
      </div>
    </div>

    <div class="card mt-3">
      <div class="card-body">
 
          <h2>Enrollment Status</h2>

          {{studentForm.value| json}}
            <hr/>
            {{studentEnrollmentModel|json}}


          <div class="row">
            <div class="col-md-3"><label class="form-label" for="id">Student ID</label></div>
            <div class="col-md-5"><input #id="ngModel" [class.is-invalid]="id.invalid && id.touched" class="form-control form-control-md" type="text" name="id" placeholder="Student ID" id="id" required [(ngModel)]="studentEnrollmentModel.id"/></div>
            <div class="col-md-3"><small class="text-danger" [class.d-none]="id.valid || id.untouched">Student ID is required!</small></div>
          </div>

          <div class="row mt-4">
            <div class="col-md-3"><label class="form-label" for="sundaySchool">Sunday School</label></div>
            <div class="col-md-5"><select  #sundaySchool="ngModel" (blur)="validatesundaySchool(sundaySchool.value)" (change)="validatesundaySchool(sundaySchool.value)" [class.is-invalid]="ssHasError && sundaySchool.touched" class="form-select" style="font-size:13px;" name="sundaySchool" id="sundaySchool" required [(ngModel)]="studentEnrollmentModel.sundaySchool" >
              <option  selected value="Select">Select</option>      
              <option *ngFor="let SundaySchool of SundaySchoolsec">{{ SundaySchool }}</option>
                </select>				
                    </div>
               <div class="col-md-3"><small class="text-danger" [class.d-none]="!ssHasError || sundaySchool.untouched">Please choose a value!</small></div>     
          </div>

          
          <div class="row mt-4">
            <div class="col-md-2"><label class="form-label" for="tuitionfeeopt">Tution Fee</label></div>
            <div class="col-md-2"><input #FeeType="ngModel" (change)="InputFeeValue(FeeType.value)" id="flexRadioDefault1" type="radio"  name="tuitionfeeopt1" value="Standard Fee" [(ngModel)]=studentEnrollmentModel.tutionFeeType><label for="tuitionfeeopt1">Standard Fee</label></div>
            <div class="col-md-2"><input #FeeType="ngModel" (change)="InputFeeValue(FeeType.value)" id="flexRadioDefault1" type="radio"  name="tuitionfeeopt1" value="Custom Fee" [(ngModel)]=studentEnrollmentModel.tutionFeeType><label for="tuitionfeeopt1">Custom Fee</label></div>            
            <div class="col-md-2"><div class="input-group">
              <span class="input-group-text" id="basic-addon1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
  <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"></path>
</svg></span><input #TutionFee="ngModel" type="text" pattern="[0-9]+" name="Tution  Fee" [(ngModel)]="studentEnrollmentModel.tutionFee" placeholder="Tution Fee" [disabled]="!isOpenFee" [class.is-invalid]="TutionFee.invalid && TutionFee.touched" [required]="isOpenFee" class="form-control" ></div></div>
            <!-- <div class="col-md-1"><input #TutionFee="ngModel" type="text" pattern="[0-9]+" name="Tution  Fee" [(ngModel)]="studentEnrollmentModel.tutionFee" placeholder="Tution Fee" [disabled]="!isOpenFee" [class.is-invalid]="TutionFee.invalid && TutionFee.touched" [required]="isOpenFee"><div class="text-danger"  [class.d-none]="TutionFee.valid || TutionFee.untouched ||!isOpenFee">Custom Fee Value is Required!</div></div> -->
          <div class="col-md-2"><div class="text-danger"  [class.d-none]="TutionFee.valid || TutionFee.untouched ||!isOpenFee">Custom Fee Value is Required!</div></div>
         
          </div>

          <div class="row mt-4">
            <div class="col-md-12"><a>Link will show what Academic year the Student is in</a></div>
          </div>

          <div class="row mt-4">
            <div class="col-md-3"><label class="form-label" for="FeePaid">Tuition and Fee paid</label></div>
            <div class="col-md-5"><select required #feepaid="ngModel" class="form-select" style="font-size:13px;" name="FeePaid" id="FeePaid" [(ngModel)]=studentEnrollmentModel.paid>
                <option selected value=true>Yes</option>
                <option value=false>No</option>
              </select></div>
              <div class="col-md-2"><small class="text-danger" [class.d-none]="feepaid.valid || feepaid.untouched">Please an option!</small></div>
        </div>


      


    

        <footer>
          <button (click)="onReset(studentForm)"  type="button" class="btn btn-success">Create New Student</button>
          <button  [disabled]="studentForm.form.invalid || stateHasError || ssHasError || isDatenull" type="submit" class="btn btn-primary" >Save Student</button>
       </footer>

      </div>
    </div>
    


    </form>


    












  </div><!--END OF CONTAINER-->

